body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  background-color: #e9e4e6;
  color: #333;
}


main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

a {
  color: #4da1a9;
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: #e9e4e6;
  color: #000000;
  bottom: 0px;
  left: 0;
  width: 100%;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 40px;
}


.photo {
  height: 300px;
}

.parent-container {
  display: flex;
  gap: 150px;
}
